# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Виртуальное окружение
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.iml

# Переменные окружения
.env